@use '../../../styles/tokens' as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 140px;
  gap: 48px;
  width: 100%;
  max-width: 1440px;
  height: 92px;
  margin: 0 auto;
  background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  app-logo {
    flex: none;
    order: 0;
  }

  app-navbar {
    flex: none;
    order: 1;
  }

  app-language {
    flex: none;
    order: 2;
    margin-left: auto;
  }

  @media (max-width: 1024px) {
    padding: 24px 80px;
    gap: 32px;
  }

  @media (max-width: 768px) {
    padding: 20px 40px;
    gap: 24px;
    height: auto;
    min-height: 72px;

    app-language {
      display: none;
    }
  }

  @media (max-width: 390px) {
    padding: 16px 20px;
    gap: 16px;
  }
}